.building-steps {
    &__item {
        position: relative;
        z-index: 0;
        padding: 16px;
        height: 304px !important;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-color: #cfa36a;
        background-image: linear-gradient(188.99deg, #f28f17bd 31.49%, #feed00b8 150.88%);
        overflow: hidden;

        @media (min-width: 1600px) {
            height: 360px !important;
        }

        &.swiper-slide-active {
            &::before {
                visibility: visible;
            }
        }

        &::before {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            visibility: hidden;
            content: '';
            pointer-events: none;
            width: 453px;
            height: 453px;
            transform: translate(-68%, -44%);
            background-size: 100% 100%;
            background-image: url('https://cms.abpx.kz/storage/uploads/2022/11/11/636e262f3894ahistory-img.svg');
        }
    }

    &__frame {
        width: 85vw;
        height: 85vh;
    }
}

.building-item__plus {
    position: absolute;
    right: 16px;
    top: 16px;
    font-weight: 600;
    color: #fff;
    user-select: none;
}

.building-item__date {
    user-select: none;
    color: #fff;
}