.common-footer {
    position: relative;
    overflow: hidden;

    &__paralax {
        right: -150px;
        top: -234px;

        @media (max-width: 768px) {
            opacity: .4;
        }
    }

    &__map {
        padding-right: 60px;

        @media (max-width: 768px) {
            width: 100%;
            height: 350px;
            order: 1;
            padding: 0 20px;
        }
    }

    @media (max-width: 768px) {
        & .flex {
            flex-wrap: wrap;
            flex-direction: column;
        }
    }
}

.contacts {

    @media (max-width: 768px) {
        width: 100%;
        margin-bottom: 32px;
        padding: 0 20px;
        order: 0;
    }

    &__items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        font-size: 16px;
        color: #fff;
        font-weight: 300;
        margin-bottom: 32px;
    }

    &__social {
        display: flex;
        align-items: center;
        gap: 24px;
        margin-bottom: 32px;
    }

    &__copyright {
        font-size: 10px;
        color: #fff;

        @media (min-width: 1600px) {
            font-size: 12px;
        }
    }
}

.contact-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    &__icon {
        width: 14px;
        margin-right: 12px;
        margin-top: 8px;
    }

    & strong {
        font-size: 20px;
    }
}