// @mixin swiper-control {
//     color: $orange;
//     position: relative;

//     &::after {
//         font-size: 30px;

//         @media (max-width: 830px) {
//             font-size: 24px;
//         }
//     }
// }

.gallery {
    &__slider {
        position: relative;

        & .swiper__nav--left {
            left: -30px;
        }

        & .swiper__nav--right {
            right: -30px;
        }
    }
}

.gallery-items {
    overflow: visible !important;

    &__one {
        height: 364px !important;

        @media (min-width: 1600px) {
            height: 420px !important;
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            -webkit-transition: opacity .6s;
            transition: opacity .6s;
            z-index: 1;
            pointer-events: none;
            background: -webkit-gradient(linear,right top,left top,from(#fff),color-stop(108.67%,hsla(0,0%,100%,0)));
            background: linear-gradient(270deg,#fff 0,hsla(0,0%,100%,0) 108.67%);
        }

        &.swiper-slide-active{
            &::after {
                opacity: 0;
            }

            &+.swiper-slide+.swiper-slide::after {
                background: hsla(0,0%,100%,.8);
            }
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }
}

