.callback-h {
    overflow: hidden;

    &__title-block {
        margin-bottom: 60px;

        @media (max-width: 768px) {
            margin-bottom: 40px;
            padding-right: 30px;
        }
    }

    &__paralax {
        mix-blend-mode: normal;
        right: 10%;
        top: -250px;

        @media (max-width: 768px) {
            right: -250px;
        }
    }

    &__form {
        & > .flex {
            gap: 16px;
        }
        
        @media (max-width: 768px) {
            & .flex {
                width: 100%;
            }
        }
    }
}

.second-callback {
    &__block {
        padding: spacer(10);
        background: $main-gradient;
        overflow: hidden;
        position: relative;
        z-index: 0;
    }

    &__form {
        margin-bottom: 0;
        margin-top: spacer(10);
        margin-left: auto;

        @media (max-width: 1110px) {
            width: 90%;
        }

        @media (max-width: 845px) {
            width: 100%;
        }
    }

    & .btn {
        width: 100%;
    }
}

.callback-container {
    @media (max-width: 1030px) {
        width: 90%;
    }

    @media (max-width: 845px) {
        width: 100%;
    }
}