.swiper-autoheight .swiper-wrapper {
    align-items: inherit !important;
}

.swiper-lazy-preloader {
    border: 4px solid #cfa36a !important;
    border-top-color: transparent !important;
}

.swiper-lazy {
    background: #f4f3f1 !important;
}