//gradients
$main-gradient: linear-gradient(279.47deg, rgba(36, 162, 230, 1) -9.93%, rgba(227, 10, 148, 1) 127.08%);
$button-gradient: linear-gradient(188.99deg, #F28F17 31.49%, #FEED00 150.88%);

//colors
$white: #ffffff;
$black: #000000;
$gray: #4F4F4F;
$gray-light: #BDBDBD;
$gray-light-btns: #E7E7E7;
$green: #009900;
$blue: #24a2e6;
$red: #EB5757;
$yellow: #CC933D;
$orange: #F5A014;
$accent-color: #e0971e;

$primary-color: rgb(0, 77, 67);
$exin-color: #71bf44;


//text-colors
$text: #1c1c1c;
$text-gray: #9e9090;
$text-gray-dark: #646464;
// $text-gray-h: #111111;
// $text-gray-p:  #333333;
// $text-gray-light: #C0C0C0;

//bg's colors
$bg-body: #E5E5E5;
$bg-gray: #F8F8F8;

//box-shadow
$box-shadow: 0px 3px 12px -3px rgba(46, 46, 46, 0.25);

//animations
$slow-animation: 0.24s;
$midd-animation: 0.18s;
$fast-animation: 0.16s;

//grid
$container: 1176px;
$container-fluid: 100%;

//functions
@function spacer($factor: 1) {
    @return 4px * $factor;
}

@function softer($factor: 1) {
    @return 2px * $factor;
}